# ========== Core Ignore ==========
HELP.md
.gitattributes

# Maven / Build
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Dependency libs
lib/

# ========== IDE Specific ==========
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Eclipse / Spring Tool Suite
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ========== System / Logs ==========
.DS_Store
Thumbs.db
*.log

# ========== Environment / Secrets ==========
.env
